/* circle */

.svg-item {
    width: 100%;
    font-size: 10px;
    animation: donutfade 1s;
    

}


@keyframes donutfade {

    /* this applies to the whole svg item wrapper */
    0% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}

.donut {
    margin-left: 20%;
}

.donut-ring {
    stroke: #F68B15;
}


.donut-segment-3 {
    stroke: #dddddd;
    animation: donut2 3s;
}
.donut-segment-4{
    stroke: #dddddd;
    animation: donut2a 3s;
}
.segment-3 {
    fill: #dddddd;
}


.donut-percent {
    animation: donutfadelong 1s;

}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 69, 31;
    }
}

@keyframes donut2 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 30, 70;
    }
}

@keyframes donut2a {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 40, 60;
    }
}

@keyframes donut3 {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 1, 99;
    }
}


.donut-text-2 {
    fill: #dddddd;
}

.donut-label {
    font-size: 0.28em;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 8px;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

@media screen and (max-width: 1024px) {

    /* ipad pro*/
    .circle-wrapper {
        width: 150%;

    }

    .donut {
        margin-left: 10%;
    }

}

@media screen and (max-width: 600px) {

    /* surface duo*/
    .donut {
        margin-left: 0;
    }
}