@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* sidebar*/
.sidebar_menu{
    margin-top: 60px;
    margin-bottom: 100px;
  width: 100%;
    font-size: 16px;   
 color: #fff;

}

.metrics{
    padding-top: 20px;
    padding-bottom: 20px;
}

.information {
    padding-top: 40px;
    padding-bottom: 40px;
}
